%script{src: "http://www.youtube.com/player_api"}
:javascript
  var urls = [#{@youtube_urls.map { |u| '"' + u.to_s + '"' }.join(", ")}];
  var titles = [#{@youtube_titles.map { |u| '"' + u.to_s + '"' }.join(", ")}];
  document.getElementById("title").innerHTML = titles[0];

  // create youtube player
  var player;
  var i;
  function onYouTubePlayerAPIReady() {
    i=0;
    player = new YT.Player('player', {
      height: '0',
      width: '0',
      videoId: urls[0],
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // autoplay video
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  // when video ends
  function onPlayerStateChange(event) {
    if(event.data === 0) { 
      next();
    }
  }

  function next(){
    i++;
    if(i >= urls.length){
      i=0;
    }
    go_to(i);
  }

  function previous(){
    i--;
    if(i < 0){
      i=urls.length-1;
    }
    go_to(i);
  }

  function pause(){
    if(player.getPlayerState() == 1){
      document.getElementById("pause").value = 'Play';
      player.pauseVideo();
    }
    else if(player.getPlayerState() == 2){
      document.getElementById("pause").value = 'Pause';
      player.playVideo();
    }
  }

  function go_to(id){
    player.loadVideoById(urls[id], 0, "");
    document.getElementById("title").innerHTML = titles[id];
  }
.container
  .blog-header{style: "padding-top: 40px;"}
    %h1.blog-title= @obj.artist
  .row
    .col-xs-12.col-sm-6.col-md-8
      %p.lead.blog-description= "Performance at #{@obj.venue} on #{@obj.date.strftime("%m/%d/%Y")}"
      %button.btn.btn-warning{onclick: "previous()"} <<
      %input.btn.btn-warning#pause{onclick: "pause()", type: "button", value: "Pause"}
      %button.btn.btn-warning{onclick: "next()"} >>
      #player
      %br
      #title= @youtube_titles[0]
    .col-xs-6.col-md-4
      .sidebar-module
        %h4 Setlist
        %ol.list-unstyled
          - i = 0
          - @youtube_titles.each do |t|
            %li
              %button.btn-link{onclick: "go_to(#{i})"}= t
            - i = i + 1
